* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* REQUIRED FOR FOOTER TO SIT AT BOTTOM */
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
