body {
  background-color: #fbf7f2; 
}

.home-container {
  padding: 20px;
  text-align: center;
}

.home-main-title {
  font-size: 2rem;
  font-weight: 700;
  color: #80592e; 
  margin-bottom: 6px;
}

.home-sub-title {
  font-size: 1rem;
  color: #8c8c8c;
  margin-bottom: 20px;
}


.home-search {
  width: 360px;
  padding: 12px 16px;
  font-size: 0.95rem;
  border: 1px solid #e5e2dd;
  border-radius: 12px;
  background: #ffffff;
  margin: 0 auto 30px auto;
  display: block;

  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  color: #444;
}

.home-search::placeholder {
  color: #b7b7b7;
}

.home-search:focus {
  outline: none;
  border-color: #d1b598;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}


.load-more-btn {
  margin-top: 30px;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #ff7f50;
  color: white;
  transition: 0.2s;
}

.load-more-btn:hover {
  background-color: #ff571f;
}

.load-more-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
