.footer {
  width: 100%;
  height: 50px;
  background: #fff;
  border-top: 3px solid #8B5E3C;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  color: #333;

  margin-top: auto;  /* Pushes footer to bottom of page */
}
